<div class="container">
  <div class="d-flex flex-row-reverse">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  </div>

  <h2>Hello, admin <%= @current_user %>!</h2>
</div>
