<div class="container">
  <h2>Hello, <%= @current_user.email %>!</h2>

  <%= month_calendar events: @bookings do |date, bookings| %>
    <%= date.day %>

    <% bookings.each do |booking| %>
      <div><%= "#{booking.session_time} - #{booking.room}" %></div>
    <% end %>
  <% end %>
</div>
