<div class="container">
  <div class="d-flex flex-row-reverse">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
  </div>

  <h1>Hi student, looking to book something?</h1>
</div>
